* {
	font-family: 'Dancing Script', cursive;
	scroll-behavior: smooth;
}
.border {
	border: 1px solid black !important;
}
.red {
	border-color: red !important;
}
.green {
	border-color: green !important;
}
.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 100%;
}
.hide {
	display: none;
}
.mapouter {
	position: relative;
	text-align: right;
	height: 500px;
}
body,
html {
	height: 100%;
}
.parallax {
	background-image: url(./images/heroCover.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 100%;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	align-content: center;
	flex-direction: column;
}
